body{
    background-color: black;
}
.spinner{

    background-color: aliceblue;
    width: 100px;
    height: 100px;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


@keyframes spin{
    0%{
        background-color: red;

    }
    25%{
        background-color: aquamarine;
        transform: translate(500px) rotate(45deg) scale(0.9);
    }
    50%{
        background-color: blueviolet;
        transform: translate(500px, 600px) rotate(90deg) scale(0.80);

    }
    75%{
        background-color: dodgerblue;
        transform: translate(0px, 600px) rotate(135deg) scale(0.7);

    }
    100%{
        background-color: violet;
        transform: translate(0px, 0px) rotate(180deg) scale(0.6);
    }
} 
h2{
    color: white;
    padding: 10px;
    text-align: center;
}
h2::before{
     content: "|";

     animation-name: typing;
     animation-duration: 2s;
     animation-iteration-count: infinite;
}


@keyframes typing{
    0%{
       content: "We|";
    }
    10%{
       content: "Welc";
    }
    20%{
        content: "Welco|";
    }
    30%{
        content: "Welcome|";
    }40%{
        content: "Welcome Yo|";
    }50%{
        content: "Welcome Yosef|";
    }60%{
        content: "Welcome Yosef Ta|";
    }70%{
        content: "Welcome Yosef Tar|";
    }80%{
        content: "Welcome Yosef Tare|";
    }90%{
        content: "Welcome Yosef Tarek|";
    }100%{
        content: "Welcome Yosef Tarek .|";
    }
}

